*.class
*.log
*.jar
.directory

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.iml

# activator
activator
activator-sbt-echo-play-shim.sbt
activator-launch-1.2.3.jar
