<div class="navbar navbar-default navbar-fixed-top top-nav-collapse" role="navigation" ng-controller="NavBarCtrl">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">HOME</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a id="menu-item-1" class="navbar-item">TOURNAMENTS</a>
                </li>
                <li>
                    <a id="menu-item-2" class="navbar-item">CITIES</a>
                </li>
                <li>
                    <a id="menu-item-3" class="navbar-item">WORLD</a>
                </li>
                <li>
                    <a id="menu-item-4" class="navbar-item">ACTIONS</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="menu-item-5" class="navbar-item">HELP</a>
                </li>
                <li>
                    <a id="menu-item-6" class="navbar-item">ABOUT</a>
                </li>
            </ul>
        </div>
    </div>
</div>