<div class="document-header">
    Territories

    <span class="action-icons">
        <button class="btn btn-success" ng-click="addTerritory()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </span>
</div>

<div class="input-group col-lg-12 filter-box">
  <input id="filter" type="text" class="form-control" ng-model="search.name" placeholder="Type filter here..." autofocus>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Territory</th>
    <th>Code</th>
    <th>Population</th>
    <th>Parent</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="t in territories | filter:search">
    <td>{{$index}}</td>
    <td><a ng-href="#/territory/{{t.id}}">{{t.name}}</a></td>
    <td>{{t.code}}</td>
    <td>{{t.population | number}}</td>
    <td><a ng-href="#/territory/{{t.parent.id}}">{{t.parent.name}}</a></td>
  </tr>
  </tbody>
</table>

