<div class="document-header">
    {{territory.name}}

    <span class="action-icons" ng-show="territoryFound">
        <button class="btn btn-success" ng-click="addTerritory()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button class="btn btn-info" ng-click="editTerritory()" ng-show="territoryFound" ng-disabled="!territory.modifiable">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <button class="btn btn-danger" ng-click="deleteTerritory()" ng-show="territoryFound" ng-disabled="!territory.modifiable">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </span>
</div>

<div ng-show="territoryFound">
  <div class="col-lg-2">
    <orbicular total="100" progression="15" resize>
      Population
      {{territory.population | number}}
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular total="100" progression="45" resize>
      Total Points<br/>
      -
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular total="100" progression="30" resize>
      Ranked as<br/>
      -
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular total="100" progression="60" resize>
      Cities<br/>
      -
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular total="100" progression="75" resize>
      Create Date<br/>
      -
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular>
      <img ng-if="territoryFound" fallback-src="images/flag/none.png"
           ng-src="{{'images/flag/'+territory.code.toLowerCase()+'.png'}}">
    </orbicular>
  </div>
</div>

<div bonobo-world-map code='{{codeToFocus()}}' ng-show="territoryFound"></div>

<script type="text/ng-template" id="removeTerritoryModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Remove confirmation</h3>
    </div>
    <div class="modal-body">
        <div>Do you really want to delete territory <b>{{territoryName}}</b>?</div>
        <div>This will remove also all territories and cities contained in {{territoryName}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
