$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "../bower_components/orbicular/orbicular.scss";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

$backColor: #fff;
$border-color: #e7e7e7;
$lead-color: #B8E186;

@include orbicular(
$barColor:  $lead-color,    // The completed progress color
$barBg:     #eee,       // The remaining progress color
$barWidth:  8,          // The bar width is defined as a percentage of the width of the circle
$contentBg: $backColor,    // The circle center
$fontSize:  11,          // Content font-size as a percentage of the circle size
$fontColor: #50a6d3,       // Content text color
$transTime: 0s,       // Time to animate the movement
$transFunc: linear     // transition timing
//$shadow: 6px 6px 10px rgba(0,0,0,0.2)  // optional shadow (not default)
);

body {
  padding: 30px 0;
  background-color: $backColor;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 50px;
}

svg {
  border: 1px $border-color solid;
  height: 600px;
  width: 100%;
  margin-top: 30px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.top {
  margin-top:30px;
  background: $lead-color url('/images/bg.png');
  padding-bottom: 26px;
  padding-top: 26px;
  box-shadow:0 -4px 0 rgba(0, 0, 0, 0.1) inset;
  position:relative;

  .header {
    font-family: monospace;
    font-size: 60px;
    color: #555;
    text-shadow: 2px 2px #FFF;
    text-align: center;
  }
}

.navbar {
  background-color: $backColor;

  .navbar-item {
    cursor: pointer;
  }
}

.document {
  margin-top: 10px;

  .document-header {
    @extend .page-header;
    @extend h1;
    margin-bottom: 30px;

    .not-found {
      color: red;
    }

    .action-icons {
      float: right;
    }
  }

  .document-section {
    margin-bottom: 30px;

    .document-item {
      @extend h4;
      color: #666666;
    }
  }
}

[bonobo-world-map] {
//  margin-top: 200px;

  .jvectormap-zoomin {
    display: none;
  }

  .jvectormap-zoomout {
    display: none;
  }
}

.filter-box {
  margin-bottom: 20px;
}

form {
  .error-container {
    color: #bb1f34;
    font-size: 0.95em;
    margin: 0.8em 0;
  }
}

orbicular {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

