<div class="document-header">
  {{city.name}}

    <span class="action-icons" ng-show="cityFound">
        <button class="btn btn-success" ng-click="newCity()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button class="btn btn-info" ng-click="editCity()">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <button class="btn btn-danger">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </span>
</div>

<div ng-show="cityFound">
  <div class="col-lg-2">
    <orbicular total="100" progression="15" resize>
      <div>Population</div>
      {{city.population | number}}
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular total="100" progression="45" resize>
      <div>Total Points</div>
      {{city.points | number}}
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular total="100" progression="30" resize>
      <div>Ranked as</div>
      -
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular total="100" progression="60" resize>
      <div>Create Date</div>
      -
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular total="100" progression="75" resize>
      <div>Location</div>
      {{displayLatitude}} {{displayLongitude}}
    </orbicular>
  </div>
  <div class="col-lg-2">
    <orbicular>
      <img ng-if="cityFound" fallback-src="images/flag/none.png"
           ng-src="{{'images/flag/city/'+city.name.toLowerCase()+'.png'}}">
    </orbicular>
  </div>
</div>
<div style="color:#ffffff;">&nbsp;</div>
<div bonobo-world-map code="" markers="markers" class="document-section" ng-show="cityFound"></div>
