@(round: models.round.Round, filter: String = "")
@import org.apache.commons.lang3.StringUtils._

@main {
    <div class="row">
        <div class="col-lg-9">
            <h1 class="page-header">@round.name</h1>
        </div>
        <div class="col-lg-3">
            <div class="input-group" style="margin-top: 40px">
                <input id="filter-input" type="text" class="form-control">
                <span class="input-group-btn">
                    <button id="filter-button" class="btn btn-default" type="button"><span class="glyphicon glyphicon-star"></span></button>
                </span>
            </div>
        </div>
    </div>

    <h2>Round status</h2>
    <h4>
        <span style="color: #666666">
            @Messages("round.status." + round.status.toString)
            @if(round.canBePlayed) {@{round.stepIndex + 1}}
        </span>
    </h4>

    <h2>Pots</h2>
        @if(round.pots.isEmpty){
            <h4 style="color: #666666">Not established yet.</h4>
        }
        <div class="row">
        @for(pot <- round.pots) {
                <span class="col-lg-6">
                    <div class="list-group">
                        <h4 style="color: #666666">Pot @{round.pots.indexOf(pot) + 1}</h4>
                        @for(team <- pot ; if containsIgnoreCase(team.name, filter)) {
                            <a href="@routes.CityController.findCity(team.id)" class="list-group-item">@team.name</a>
                        }
                    </div>
                </span>
        }
        </div>

    <h2>Units</h2>
        @round.units match {
            case Nil => { <h4 style="color: #666666">Not drawn yet.</h4> }
            case _   => {
                <div class="row">
                    <span class="col-lg-6">
                        <div class="list-group">
                        @for(unit <- round.units) {
                            <a href="@routes.UnitController.find(unit.id.get)" class="list-group-item">@unit.name</a>
                        }
                        </div>
                    </span>
                </div>
            }
        }
}

<script>
$('document').ready(function() {
$ ( "#filter-button" ).click ( function ( ) {
$ ( "#ajaxloader" ).css ( "display", "block" ) ;
$.ajax ( {
type : 'GET',
url : "@routes.RoundController.findWithFilter",
data : {
id : @round.id.get,
filter : $ ( "#filter-input" ).val ( )
},
dataType : "text",
success : function ( data ) {
$ ( "#ajaxloader" ).css ( "display", "none" ) ;
$ ( "body" ).html ( data ) ;
},
error : function ( data ) {
$ ( "#ajaxloader" ).css ( "display", "none" ) ;
alert ( 'NOT OK' ) ;
}
} ) ;
} ) ;
$ ( '#filter-input' ).keypress ( function ( e ) {
if ( e.which == 13 ) {
$ ( '#filter-button' ).click ( ) ;
}
}) ;
});

</script>