@(round: models.round.Round)
@import Common._

@main {
    <h1 class="page-header">@round.name</h1>

    <h2>Round status</h2>
    <h4>
        <span style="color: #666666">
            @Messages("round.status." + round.status.toString)
            @if(round.isPlayed) {@{round.stepIndex + 1}}
        </span>
    </h4>

    <h2>Pots</h2>
        @if(round.pots.isEmpty){
            <h4 style="color: #666666">Not established yet.</h4>
        }
        <div class="row">
        @for(pot <- round.pots) {
                <span class="col-lg-6">
                    <div class="list-group">
                        <h4>Pot @{round.pots.indexOf(pot) + 1}</h4>
                        @for(team <- pot) {
                            <a href="@routes.CityController.find(team.id)" class="list-group-item">@team.name</a>
                        }
                    </div>
                </span>
        }
        </div>

    <h2>Units</h2>
        @round.units match {
            case Nil => { <h4 style="color: #666666">Not drawn yet.</h4> }
            case _   => {
                <div class="row">
                <span class="col-lg-6">
                    <div class="list-group">
                        @for(unit <- round.units) {
                            <a href="@routes.UnitController.find(unit.id.get)" class="list-group-item">@unit.name</a>
                        }
                    </div>
                </span>
                </div>
            }
        }

    <h2>Promoted teams</h2>
    @round.isFinished() match {
        case false => { <h4 style="color: #666666">Not finished yet.</h4> }
        case true  => {
            <div class="row">
            <span class="col-lg-6">
                <div class="list-group">
                @for(team <- round.getPromotedTeams) {
                    <a href="@routes.CityController.find(team.id)" class="list-group-item list-group-item-success">@team.name</a>
                }
                </div>
            </span>
            </div>
        }
    }
}