@(tournament: models.tournament.Tournament)

@main {
    <h1 class="page-header">@tournament.name</h1>

    <h2>Tournament status:</h2>
    <h4>
        <span style="color: #666666">
            <div>@Messages("tournament.status." + tournament.status.toString)</div>
            <div style="margin-top: 5px">
            @if(tournament.isPlayed){
                Current round: @tournament.rounds.head.name
                (@tournament.teamsInGameSum.toString() / @tournament.teams.size teams)
            }
            </div>
        </span>
    </h4>

    <h2>Rounds history:</h2>
        @if(tournament.rounds.isEmpty) {
            <h4>
                <span style="color: #666666">
                    There is no tournament history yet.
                </span>
            </h4>
        }
        @for(round <- tournament.rounds) {
            <div class="list-group">
                <a href="@routes.RoundController.find(round.id.get)" class="list-group-item">
                    <h4 class="list-group-item-heading">@round.name</h4>
                    <p class="list-group-item-text">
                        @Messages("round.status." + round.status.toString)
                        @if(round.canBePlayed) {@{round.stepIndex + 1}}
                    </p>
                </a>
            </div>
        }

    <h2>Cities history:</h2>

    <div class="row">
        <span class="col-lg-6">
            <div class="list-group">
            @for(team <- tournament.teams.sortBy(_.name)) {
                @if(tournament.isTeamStillInGame(team.id)) {
                    <a href="@routes.CityController.find(team.id)" class="list-group-item">@team.name</a>
                } else {
                    <a href="@routes.CityController.find(team.id)" class="list-group-item list-group-item-warning">@team.name</a>
                }
            }
            </div>
        </span>
    </div>

    <div id="warning-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Process tournament</h4>
                </div>
                <div class="modal-body">
                    <p>Cannot process finished tournament</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
$(document).ready(function () {
    $("#menu-item-1").css("display", "block").text("Process tournament").click(function() {
        if(@tournament.isFinished) {
            $("#warning-modal").modal('show');
        } else {
            $ ( "#ajaxloader" ).css ( "display", "block" );
            $.ajax({
                type : 'POST',
                url : " @routes.TournamentController.processNextStep() ",
                data : {
                    id : @tournament.id.get
                },
                dataType : "text",
                success : function ( data ) {
                    $ ( "body" ).html ( data );
                    $ ( "#ajaxloader" ).css ( "display", "none" );
                    addSuccessAlert ( 'Tournament processing finished with success' )
                },
                error : function ( data ) {
                    $ ( "body" ).html ( data ) ;
                    $ ( "#ajaxloader" ).css ( "display", "none" );
                    addErrorAlert ( 'Error occured during tournament processing' )
                }
            });
        }
    });
});
</script>