@(tournament: models.tournament.Tournament)(msg: utils.AlertsHelper.Alert = None)
@import models.round.pair.PlayoffRound

@main(List((routes.TournamentController.processNextStep(tournament.id.get), "Process tournament"),
(routes.CityController.find(tournament.id.get), "Get example")), msg) {
    <h1 class="page-header">@tournament.name</h1>

    <h2>Tournament status:</h2>
    <h4>
        <span style="color: #666666">
            @if(tournament.rounds.nonEmpty){
                Current round: @tournament.rounds.head.name

                (@tournament.rounds.headOption.fold(Html(tournament.teams.size.toString)){ r =>
                @if(r.isInstanceOf[PlayoffRound] && r.asInstanceOf[PlayoffRound].preliminary){
                    @Html(tournament.teams.size.toString)
                } else {
                    @Html(r.teams.size.toString)
                }
            }
                / @tournament.teams.size teams)
            } else {
                Not started yet
            }
        </span>
    </h4>

    <h2>Rounds history:</h2>
        @for(round <- tournament.rounds) {
            <div class="list-group">
                <a href="@routes.RoundController.find(round.id.get)" class="list-group-item">
                    <h4 class="list-group-item-heading">@round.name</h4>
                    <p class="list-group-item-text">
                        @Messages("round.status." + round.status.toString)
                        @if(round.isPlayed) {@{round.stepIndex + 1}}
                    </p>
                </a>
            </div>
        }


    <h2>Cities history:</h2>

    <div class="row">
        <span class="col-lg-6">
            <div class="list-group">
            @for(team <- tournament.teams.sortBy(_.name)) {
                @if(tournament.teams.isEmpty || tournament.rounds.head.teams.exists(_.id == team.id)) {
                    <a href="@routes.CityController.find(team.id)" class="list-group-item">@team.name</a>
                } else {
                    <a href="@routes.CityController.find(team.id)" class="list-group-item list-group-item-warning">@team.name</a>
                }
            }
            </div>
        </span>
    </div>
}